body {
  background-color: #444;
}

* {
  box-sizing: border-box;
}

.FirefoxDesktop {
  font-size: 20px;
  margin: 32px 0 16px;
  padding: 0 16px;
}

.App {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  margin: auto;
  max-width: 720px;
  padding: 0 0 32px;
}

.Logo {
  margin: 0 0 16px;
  width: 100%;
}

.Copy {
  position: relative;
}

.Copy-cta {
  padding: 0 16px;
  position: relative;
}

.Copy-copied {
  animation: evaporate 0.5s forwards;
  color: #3b599c;
  cursor: none;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 16px;
  top: 0px;
  user-select: none;
}

.Copy-preview {
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
}

@keyframes evaporate {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

.OpenFacebook {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-color: rgb(3, 106, 210);
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin: 16px 16px 0;
  padding: 12px 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  user-select: none;
}

.OpenFacebook:hover {
  background-color: rgb(0, 128, 255);
}
