.App {
  background-color: #fff;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 0 0 8px 8px;
  margin: auto;
  max-width: 720px;
  padding: 0 0 32px;
}

.Logo {
  margin: 0 0 16px;
  width: 100%;
  border-bottom: 3px solid rgb(19, 131, 191);
}

.Header {
  position: relative;
}

.Header-dms,
.Header-for,
.Header-bernie {
  position: absolute;
  font-weight: 700;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.6);
}

.Header-dms {
  color: #fff;
  font-size: 65px;
  top: 44px;
  right: 130px;
}

.Header-for {
  color: #fff;
  font-size: 32px;
  top: 75px;
  right: 75px;
  font-style: italic;
}

.Header-bernie {
  color: #f20832;
  font-size: 70px;
  top: 100px;
  right: 50px;
}

.Instructions {
  font-size: 22px;
  margin: 32px 32px 48px;
}

.Instructions-messenger {
  margin: 0 4px;
  height: 20px;
  width: 20px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

.OpenFacebook {
  background-color: rgb(19, 131, 191);
  border-radius: 4px;
  border: 1px solid rgb(19, 131, 191);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: 0 32px;
  padding: 12px 18px;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

.OpenFacebook:hover {
  background-color: rgb(43, 156, 217);
  border-color: rgb(43, 156, 217);
  color: rgb(255, 255, 255);
}
