* {
  box-sizing: border-box;
}

.FirefoxDesktop {
  font-size: 20px;
  margin: 32px 0 0;
}

.App {
  margin: auto;
  max-width: 720px;
  text-align: center;
  padding: 0 16px;
}

.Logo {
  max-width: 120px;
}

.Copy {
  position: relative;
}

.Copy-cta {
  position: relative;
}

.Copy-copied {
  animation: evaporate 0.5s forwards;
  color: #3b599c;
  cursor: none;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 16px;
  top: 0px;
  user-select: none;
}

.Copy-preview {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 16px;
}

@keyframes evaporate {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

.OpenFacebook {
  background: linear-gradient(#4f69a5, #3b599c);
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin: 16px 0 0;
  padding: 12px 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  user-select: none;
}
